/src/.vs
/src/Account/Account.Domain/bin/Debug
/src/Account/Account.Domain/obj/Debug
/src/Account/Account.Infrastructure.Data/bin/Debug
/src/Account/Account.Infrastructure.Data/obj/Debug
/src/Account/Account.Services/bin/Debug
/src/Account/Account.Services/obj/Debug
/src/Account/Account.TokenProvider.API/bin
/src/Account/Account.TokenProvider.API/obj/Debug
/src/Product/ProductService.API/bin
/src/Product/ProductService.API/obj/Debug
/src/Product/ProductService.Domain/bin/Debug
/src/Product/ProductService.Domain/obj/Debug
/src/Product/ProductService.Instrastructure.Data/bin/Debug
/src/Product/ProductService.Instrastructure.Data/obj/Debug
/src/Product/ProductService.Services/bin/Debug
/src/Product/ProductService.Services/obj/Debug
/src/packages
